@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 20px 115px;
}
